<!-- nie podawaj folderu app w ścieżce -->
<link rel="stylesheet" href="players/players.css">

<p>{{text}}</p>

<input type="text" placeholder="Wpisz nazwisko..." ng-model="searchedPlayer"> <button ng-click="zmienAdresPrzySzukaniu(searchedPlayer)">Szukaj!</button> <button ng-click="removeHint()">Kasuj podpowiedź</button><br>

<p ng-show="!found">{{notFoundMessage}}</p>
<p ng-show="found">Znalazłem w bazie</p>
<p>{{found}}</p>
<br>
<form name="playerForm" ng-submit="itemToStorage(name, surname, age, value)">   

<label>Imię:</label> <input type="text" ng-model="name" ng-required="true" ng-minlength="2" name="playerName">

<span ng-show="playerForm.playerName.$dirty && playerForm.playerName.$error.required">Wypełnij pole</span>
<span ng-show="playerForm.playerName.$error.minlength">Za krótki tekst!</span>

<br> <br>

<label>Nazwisko:</label> <input type="text" ng-model="surname" ng-required="true" ng-minlength="2" name="playerSurname">

<span ng-show="playerForm.playerSurname.$dirty && playerForm.playerSurname.$error.required">Wypełnij pole</span>
<span ng-show="playerForm.playerSurname.$error.minlength">Za krótki wpis!</span>

<br> <br>
<label>Wiek:</label> <input type="number" ng-model="age" ng-change="checkAge(age)" ng-required="true"><br>
<span ng-show="showAgeWarning">Zbyt mała wartość!</span>   
<br>
<label>Wartość:</label> <input type="number" ng-model="value" ng-min="0" ng-required="true"><br><br>  

<input type="submit" value="Wyślij/Zmień" ng-disabled="playerForm.$invalid || showAgeWarning">


</form>


