<!-- nie podawaj folderu app w ścieżce -->
<!-- <link rel="stylesheet" href="players/players.css"> -->

<style>
    input {

        width: 35%;
        margin: 0 auto;
    }

    form>input {

        /* width: 70%; */
        width: 100%;
    }

    h1 {
        margin: 10px auto;
    }

    h1+p {

        margin: 10px auto;
    }

    span.property {

        display: inline-block;
        width: 75px;
    }

    form {

        /* margin: 0 auto; */
        text-align: center;
    }

    .send {

        cursor: pointer;
    }


    .playerForm .md-button {

        /* width: 20%; */
        width: 80%;
        margin: 0 auto;
    }

    div.playerForm {

        margin: 0 auto;
        width: 30%;
    }

    .narrow {

        width: 20%;
        margin: 10px auto;
    }
</style>

<md-toolbar>

    <h1 class="titletext">Dodaj zawodnika</h1>
</md-toolbar>


<p style="text-align: center;">{{text}}</p>

<input type="text" placeholder="Wpisz nazwisko..." ng-model="searchedPlayer">

<md-button class="narrow" ng-click="loadingBeforeSearch(searchedPlayer)" ng-disabled = "!searchButtonActive">Szukaj!</md-button>

<div layout="row" layout-sm="column" layout-align="space-around">
    <md-progress-circular md-mode="determinate" md-diameter = "30" class="md-accent" value="{{loadingValue}}"></md-progress-circular>
</div>


<md-button class="narrow" ng-click="removeHint()">Kasuj podpowiedź</md-button>

<!-- <p ng-show="!found" style="text-align: center;">{{notFoundMessage}}</p> -->

<div class="notFound" ng-show="!found"></div>

<br>

<div class="playerForm">

    <form name="playerForm" ng-submit="itemToStorage(name, surname, age, value)">

        <span class="property">Imię:</span><br><input type="text" ng-model="name" ng-required="true" ng-minlength="2"
            name="playerName">

        <br>

        <span ng-show="playerForm.playerName.$dirty && playerForm.playerName.$error.required">Wypełnij
            pole</span>
        <span ng-show="playerForm.playerName.$error.minlength">Za krótki tekst!</span>

        <br> <br>

        <span class="property">Nazwisko:</span> <br> <input type="text" ng-model="surname" ng-required="true"
            ng-minlength="2" name="playerSurname">

        <br>

        <span ng-show="playerForm.playerSurname.$dirty && playerForm.playerSurname.$error.required">Wypełnij
            pole</span>
        <span ng-show="playerForm.playerSurname.$error.minlength">Za krótki wpis!</span>

        <br> <br>
        <span class="property">Wiek:</span> <br> <input type="number" ng-model="age" ng-change="checkAge(age)"
            ng-required="true">
        <br>

        <span ng-show="showAgeWarning">Zbyt mała wartość!</span>
        <br> <br>

        <span class="property">Wartość:</span> <br> <input type="number" ng-model="value" ng-min="0"
            ng-required="true"><br><br>

        <!-- <input class="send" type="submit" value="Wyślij/Zmień" ng-disabled="playerForm.$invalid || showAgeWarning"> -->

        <md-button class="md-raised" type="submit" ng-disabled="playerForm.$invalid || showAgeWarning">Wyślij/zmień
        </md-button>
    </form>

</div>