<link rel="stylesheet" href="list/list.css">
<h1>Lista zawodników</h1>

<p>Szukaj</p>
<input type="text" ng-model="searchedText"><br>



<ul style="margin-left: -20px;">
    <li ng-repeat="player in playerData | filter: searchedText">{{player.name+" "+player.surname+ " " + player.age+" "+player.value}}   <span ng-click="removeFromStorage(player.surname)" style="font-weight: bold">Usuń</span></li>
</ul>
<br>

<button ng-click="showAllEntries()">Pokaż wpisy w konsoli</button>
<button ng-click="clearAll()">Wyczyść localStorage</button> 
<button ng-click="printChart()">Rysuj wykres</button> <br> <br>
<div ng-show="showPicture" style="background-color: white; width: 400px; "><img src="" id="demo" style="width: 100%"></div>




